<html>
 <head>
  <meta charset="UTF-8">
  <title>Avvertenze</title>
  <meta name="description" content="Sample Web tutorials for Node JS">
  <meta name="keywords" content="NodeJS,EJS">
  <meta name="author" content="Tanmay Sarkar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="../style.css">
<style>
  body{
    background: rgb(2,0,36);
background: linear-gradient(147deg, rgba(2,0,36,1) 0%, rgba(9,121,85,1) 35%, rgba(0,212,255,1) 100%);
  }
  ul{
    text-align:left;
  }
  .toMenu{
    margin: 0 auto;
    background-color:#41576e;
    color:#212529;
    border:0px;
  }
  .sized{
    height: 600px;
  }
</style>
</head>
<body>


















  
<div class="position-absolute top-50 start-50 translate-middle">
  <div class="card text-center">
    <div class="card-header">
      <h3 class="card-title">AVVERTENZE</h3>
    </div>
    <div class="card-body">
      <p>Le ricerche scientifiche hanno dimostrato che varie persone che giocano d’azzardo, sono particolarmente vulnerabili
      a sviluppare dipendenza patologica.<br>
      
      Tutti i giochi con vincite in denaro possono essere molto attrattivi fino a far sviluppare una dipendenza patologica,
      che è una vera e propria malattia.<br>
      
      Essa si manifesta principalmente con comportamenti di gioco ripetuti, non controllabili con la propria volontà.<br>
      
      Questo comportamento può provocare rischi per la salute della persona, la sua socialità, la sua famiglia, e perdita di
      ingenti somme di denaro.</p>
      <p>Il gioco d'azzardo può essere divertente, ma può anche diventare un problema se non si presta attenzione. Ecco alcune cose da considerare quando si gioca:</p>
      <ul>
      <li>Non giocare mai con soldi che non puoi permetterti di perdere</li>
      <li>Non giocare mai per sfuggire a problemi o per cercare di risolvere i tuoi problemi finanziari</li>
      <li>Stabilisci un budget e tieniti ad esso</li>
      <li>Non trascurare le tue responsabilità o le tue relazioni a causa del gioco</li>
      <li>Se il gioco d'azzardo diventa un problema per te o per qualcuno che conosci, cerca aiuto</li>
      </ul>
      <p>Ricorda che il gioco d'azzardo dovrebbe essere considerato come una forma di intrattenimento e non come un modo per fare soldi.<br> Gioca in modo responsabile e ricorda sempre che ci sono rischi e che puoi perdere denaro quando si gioca d'azzardo.</p>
      <form method="post" action="/menu">
        <button type="submit" class="btn btn-primary"><b>VAI AL MENÙ</b></button>
      </form>
    </div>
  </div>
</div>
</body>
</html>