<html>
 <head>
  <meta charset="UTF-8">
  <title>Istruzioni</title>
  <meta name="description" content="Sample Web tutorials for Node JS">
  <meta name="keywords" content="NodeJS,EJS">
  <meta name="author" content="Tanmay Sarkar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="../style.css">
  <style>
      .toMenu{
    margin: 0 auto;
    background-color:peachpuff;
    color:#212529;
    border:0px;
  }
  </style>
</head>
<body>
  <div class="position-absolute top-50 start-50 translate-middle">
    <font color="peachpuff"><h1 style="font-size:70"> ISTRUZIONI</h1></font>
  <font color="white">
  
    <p style="font-size:15"> Il Blackjack è un gioco di carte molto popolare in cui il giocatore cerca <br> di ottenere un punteggio più alto della mano del banco, ma senza superare 21.<br>
    <p style="font-size:15">
    Ciascun giocatore riceve 2 carte all'inizio del giro. <br> Il valore delle carte è il numero scritto sulla carta  
      (ad esempio, un 7 vale 7 punti). <br>
    <p style="font-size:15">
      Le carte dal 2 al 9 valgono il loro valore nominale, le carte dal 10 al 14 (10, Jack, Regina, Re) <br> valgono 10 punti e l'Asso può valere 1 o 11 punti <br>
      a seconda di quale valore sia più favorevole per il giocatore.
    <br> <p style="font-size:15">
    Durante il proprio turno, un giocatore può chiedere altre carte (hit) per cercare di migliorare <br> la propria mano, 
      oppure può decidere di fermarsi (stand) per conservare il proprio punteggio attuale. <br> <p style="font-size:15"> 
      Se un giocatore supera 21, perde automaticamente. Il banco segue regole fisse <br> per quanto riguarda l'acquisizione di 
      carte: il banco deve prendere carte finché <br> non raggiunge almeno un
      punteggio di 17, e poi deve fermarsi. <br> <p style="font-size:15"> Il giocatore vince se ottiene un punteggio superiore a quello del banco e non supera 21, <br>
      mentre il banco vince se il giocatore supera 21 o se il
      banco ottiene un punteggio superiore a quello del giocatore.</p>
  </font>
    
    
  <form method="post" action="/menu">
    <button type="submit" class="btn btn-light toMenu" >TORNA AL MENÙ</button>
  </form>
  </div>
</body>
</html>