<html>
 <head>
  <meta charset="UTF-8">
  <title>Menù</title>
  <meta name="description" content="Sample Web tutorials for Node JS">
  <meta name="keywords" content="NodeJS,EJS">
  <meta name="author" content="Tanmay Sarkar">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="../style.css">
<style>
  body{
    background: rgb(2,0,36);
background: linear-gradient(147deg, rgba(2,0,36,1) 0%, rgba(121,9,61,1) 35%, rgba(0,212,255,1) 100%);
  }
  .sized{
    height:500px;
    width:500px;
  }
</style>

</head>
<body>


<div class="position-absolute top-50 start-50 translate-middle sized">
  <div class="card text-center">
    <div class="card-header">
      <h3 class="card-title">MENÙ</h3>
    </div>
    <div class="card-body">
      <form method="post" action="/istruzioni">
    <button class="btn btn-danger" type="submit">ISTRUZIONI</button>
  </form>
  <form method="post" action="/blackJack">
    <button class="btn btn-primary blue"  type="submit">GIOCO</button>
  </form>
    </div>
  </div>
</div>


  

</body>
</html>